ul>li:first-child {
    color: fuchsia;
}
body {
    background-color: rgb(255, 0, 0);
    Color: black;
}
#Hello {
    color: white;
    padding: 10px;
    border: dotted 30px;
}

.list {
    background-color: rgb(0, 255, 0);
    margin: 50px;
    color: blue;
}
img {
    width: 200px;
    height: 200px;
}

li {
    font-size: 100px;
}

a[href*="frhsd.com"] {
    color: limegreen;
}

a:visited {
    color: beige;
}

li:hover {
    background-color: navy;
}
div {
    li {
        line-break: anywhere;
    }
}

li+li {
    color: white;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Manogomus {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 12px;
    img {
        grid-column:span 3;
        grid-row: span 3;
        height: 75%;
        width: 75%;
    }
    p {
        grid-column:span 2;
        grid-row: span 2;
    }
    a {
        grid-column:span 1;
        grid-row: span 1;
    }
}

ol {
    margin-left: 50px;
}